<div class="container">
<p style="color: green"><%= notice %></p>

 <div class="row">
   <div class="col-12">
     <h1>Hotwire Todos</h1>
   </div>
 </div>

  <div class="row">
    <div class="col-12">
      <%= render "form", todo:Todo.new %>
    </div>
  </div>

  <%= turbo_stream_from "todos" %>
  <div class="row mt-2" id="todos">
      <%= render @todos %>
  </div>

</div>